<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scanner.returm.retumscanner">


    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false">
        <activity
            android:name=".scanner.view.ScannerActivity"
            android:label="Retum Scanner">

        </activity>
    </application>

</manifest>
